<section  style="background-color: #8fc4b7;">
    <div class="container py-5 h-100">
      <div class="card rounded-3 text-black p-md-5">
        <div class="row d-flex align-items-center justify-content-center h-100">
  
          <!-- <div class="row g-0"> -->
          <div class="col-md-6 col-lg-7 col-xl-6">
  
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg" class="img-fluid"
              style="background-color: #cdd3d1;" alt="Phone image">
          </div>
          <div class="col-md-6 col-lg-5 col-xl-5 offset-xl-1">
            <!-- <div class="card rounded-3 text-black"> -->
            <!-- <div class="card-body p-md-5 mx-md-4"> -->
            <h2 class="fs-title" style="text-align: center;">MOD-c Management</h2>
            <h6 style="text-align: center;">"Happy Customers,amazing business"</h6>
            <div class="container py-5">
              <form [formGroup]="personalDetails" >
              <!-- <ng-wizard [config]="config" (stepChanged)="stepChanged($event)"> -->
              
                  <!-- <ng-wizard-step [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)" > -->
  
                  <!-- </ng-wizard-step> -->
                  <!-- [canEnter]="isValidTypeBoolean" [canExit]="isValidFunctionReturnsBoolean.bind(this)"> -->
                  <!-- <span>Step 1 content</span> -->
                  <!--
                  <input type="text" class="form-control" formControlName="firstname" placeholder="firstname" />
                  <span class="text-danger"
                    *ngIf="personalDetails.controls['firstname'].touched && personalDetails.hasError('required','firstname')">
                    *firstname is required
                  </span><br>
                  -->
                      <!-- <input type="text" class="form-control" formControlName="name" placeholder="User Name" />
                      <span class="text-danger"
                        *ngIf="personalDetails.controls['name'].touched && personalDetails.hasError('required','name')">
                        *User name is required
                      </span><br>
                  
                      <input type="text" class="form-control" formControlName="email" name="email" placeholder="Email" />
                      <span class="text-danger"
                        *ngIf="personalDetails.controls['email'].touched && personalDetails.hasError('required','email')">
                        *Email id is required
                      </span><br>
            
                      <input type="text" class="form-control" formControlName="phone" name="phone" placeholder="Phone" />
                      <span class="text-danger"
                        *ngIf="personalDetails.controls['phone'].touched && personalDetails.hasError('required','phone')">
                        *phone number is required
                      </span>
                      <br>
                      
                  </ng-wizard-step>
                  
                  <ng-wizard-step  > -->
                  <!-- <span>Step 2 content</span> -->
                  <!-- <input type="text" class="form-control" formControlName="address" placeholder="address" />
                  <span class="text-danger"
                    *ngIf="personalDetails.controls['address'].touched && personalDetails.hasError('required','address')">
                    *Address is required
                  </span><br> -->
                  <!-- <input type="text" class="form-control" formControlName="country" name="email" placeholder="country" /> -->
                <!-- <select (change)="changeCountry($event)" class="form-control" formControlName="country">
  
                    <option value="">Choose country</option>
                    <option *ngFor="let city of countryList" [ngValue]="city.country_id">
                      {{ city.country_name }}
                    </option>
                  </select>
                  <br>
                  
                  <select (change)="changeCountry($event)" class="form-control" formControlName="state">
  
                    <option value="">Choose State</option>
                    <option *ngFor="let city of stateList" [ngValue]="city.state_id">
                      {{ city.state_name }}
                    </option>
                  </select>
                  <br> -->
                 
                  <!-- <input type="text" class="form-control" formControlName="state" name="email" placeholder="state" /> -->
                  <!-- <span class="text-danger"
                    *ngIf="personalDetails.controls['state'].touched && personalDetails.hasError('required','state')">
                    *state is required
                  </span><br> -->
                 <!-- <select (change)="changeCity($event)" class="form-control" formControlName="city">
  
                    <option value="">Choose City</option>
                    <option *ngFor="let city of cityList" [ngValue]="city.city_id">
                      {{ city.city_name }}
                    </option>
                  </select> -->
                  <!-- <input type="text" class="form-control" formControlName="city" name="phone" placeholder="Phone" /> -->
                  <!-- <span class="text-danger"
                    *ngIf="personalDetails.controls[city'].touched && personalDetails.hasError('required','city')">
                    *city is required
                  </span> -->
                  <!-- <br>
                  <br>
                  <input type="text" class="form-control" formControlName="pincode" name="phone" placeholder="pincode" />
                  <span class="text-danger"
                    *ngIf="personalDetails.controls['pincode'].touched && personalDetails.hasError('required','pincode')">
                    *pincode is required
                  </span><br> -->
                  <!-- <input type="text" class="form-control" formControlName="pincode" name="phone" placeholder="pincode" />
                  <span class="text-danger"
                    *ngIf="personalDetails.controls['pincode'].touched && personalDetails.hasError('required','pincode')">
                    *pincode is required
                  </span>
                  <br> -->
  <!--                 
                  </ng-wizard-step>
                 
              
             
              </ng-wizard> -->
  
              <input type="text" class="form-control" formControlName="firstname" placeholder="firstname" />
                  <span class="text-danger"
                    *ngIf="personalDetails.controls['firstname'].touched && personalDetails.hasError('required','firstname')">
                    *firstname is required
                  </span><br>
                  <input type="text" class="form-control" formControlName="lastname" placeholder="lastname" />
                  <span class="text-danger"
                    *ngIf="personalDetails.controls['lastname'].touched && personalDetails.hasError('required','lastname')">
                    *lastname is required
                  </span><br>
                  <input type="text" class="form-control" formControlName="userName" placeholder="User Name" />
                      <span class="text-danger"
                        *ngIf="personalDetails.controls['userName'].touched && personalDetails.hasError('required','userName')">
                        *User name is required
                      </span><br>
                      <input type="text" class="form-control" formControlName="phoneNo" placeholder="Phone" />
                      <span class="text-danger"
                        *ngIf="personalDetails.controls['phoneNo'].touched && personalDetails.hasError('required','phoneNo')">
                        *phone number is required
                      </span>
                      <br>
                      <input type="text" class="form-control" formControlName="emailAddress" placeholder="emailAddress" />
                      <span class="text-danger"
                        *ngIf="personalDetails.controls['emailAddress'].touched && personalDetails.hasError('required','emailAddress')">
                        *emailid is required
                      </span><br>
                      <input type="text" class="form-control" formControlName="password" placeholder="password" />
                      <span class="text-danger"
                        *ngIf="personalDetails.controls['password'].touched && personalDetails.hasError('required','password')">
                        *password is required
                      </span><br>
                      <!-- <input type="text" class="form-control" formControlName="createddate"  placeholder="createddate" />
                 <span class="text-danger"
                   *ngIf="personalDetails.controls['createddate'].touched && personalDetails.hasError('required','createddate')">
                   *date is required
                 </span>
               
                
                 <br>
                 <input type="text" class="form-control" formControlName="updatedate"  placeholder="updatedate" />
                 <span class="text-danger"
                   *ngIf="personalDetails.controls['updatedate'].touched && personalDetails.hasError('required','updatedate')">
                   *date is required
                 </span> -->
                 <button   (click)="signup()" type="button" class="btn btn-primary btn-block mb-4">signup</button>
            </form>
            </div>
              
            
          </div>
  
        </div>
      </div>
    </div>
  </section>
