<p>pending-requests works!</p>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-uppercase mb-0 text-primary">Active Users List</h5>
                </div>
                <div class="table-responsive">
                    <table class="table no-wrap user-table mb-0">
                        <thead>
                            <tr>
                                <!-- <th scope="col" class="border-0 text-uppercase font-medium pl-4">#</th> -->
                                <th scope="col" class="border-0 text-uppercase font-medium">USERNAME</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">FIRST NAME</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">LASTNAME</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">COU</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Phone</th>
                                <th scope="col" class="border-0 text-uppercase font-medium">Manage</th>
                            </tr>
                        </thead>
                        <!-- <tbody>
                        <tr *ngFor="let list of pendingRequests | paginate:{

                          itemsPerPage:tableSize,
                          currentPage:page,
                          totalItems:count}; let i=index" >
                         
                          <td class="pl-4">{{list.userName}}</td>
                          <td class="pl-4">{{list.userName}}</td>
                          <td class="pl-4">{{list.userName}}</td>
                          <td class="pl-4">KERALA</td>
                          <td class="pl-4">{{list.phoneNo}}</td>
                          
                          <td>
                            <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle"><i class="fa fa-key"></i> </button>
                            <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" (click)="deleteActiveUser(list.id)"><i class="fa fa-trash"></i> </button>
                          <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" (click)="viewUser(content,list)"><i class="fa fa-eye"></i> </button>
             
                          </td>
                        </tr>
                       
                           -->

                        <!-- </tbody> -->
                    </table>
                </div>
            </div>

            <!-- <div>
              <pagination-controls
                previousLabel="Prev"
                nextLabel="Next"
                (pageChange) ="onTableDataChange($event)">
              </pagination-controls>
            </div> -->
        </div>