
<div class=" container-fluid"  >
    <div class="row">
      <div class="col-3 col-lg-2">
        <div class="show-sidebar">
        <aside class="sidebar" >  
          <div class="side-inner ">
           <aside class="sidebar "  style="background-color: rgba(170, 184, 206, 0.682);">       
             <div class="side-inner ">
               <div class="logo-wrap">
                <div class="dropdown  mt-3 " data-bs-toggle="dropdown">
                 <div class="logo">
                   <span><i class="bi bi-person"></i></span>
                 </div>
                  <ul class="dropdown-menu">
                    <li> 
                      <a routerLink="/login" class="dropdown-item">
                        <i class="fa fa-sign-out">&nbsp;&nbsp;&nbsp;&nbsp;Logout</i>
                      </a>
                    </li>
                  </ul>
                </div> 
                <span class="logo-text  mt-3">
                  <ul id="ul1">
                    <li class="liclass">M</li>
                    <li class="liclass">O</li>
                    <li class="liclass">D</li>
                    <li class="liclass">-</li>
                    <li class="liclass">C</li>
                  </ul>
                </span>
              </div>
              <div class="search-form">
                <form action="#">
                  <span class="wrap-icon">
                    <span class="icon-search2">
                      <i class="bi bi-search"></i>
                    </span>
                  </span>
                  <input type="text" class="form-control" placeholder="Search...">
                </form>
              </div>
               <div class="nav-menu">
                <ul>
                  <li class="active " routerLink="../dashboard">
                    <a routerlink="./dashboard" class="d-flex align-items-center wid2">
                      <span class="wrap-icon  mr-3">
                        <i class="bi bi-house-door-fill" style="cursor: pointer;"></i>
                      </span>
                      <span class="menu-text">Home</span>
                    </a>
                  </li>
                  <li >
                    <a href="#" class="d-flex align-items-center collapsed wid2" data-bs-target="#charts-nav" data-bs-toggle="collapse">
                      <span class="wrap-icon  mr-3">
                        <i class="bi bi-people"></i>
                      </span>
                      <span class="menu-text">Management</span>
                        <i class="bi bi-chevron-down ms-auto"></i>
                    </a>
                      <ul id="charts-nav" class="nav-content collapse" data-bs-parent="#sidebar-nav">
                        <li routerLink="../adduser">
                          <a >
                            <span>Add User</span>
                          </a>
                        </li>
                        <li routerLink="../active">
                          <a >
                            <span>Total Users</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a  class="d-flex align-items-center wid2 " style="cursor:pointer;">
                        <span class="wrap-icon  mr-3">
                          <i class="bi bi-piggy-bank-fill"></i>
                        </span>
                        <span class="menu-text">Profit</span>
                      </a>
                    </li>
                    <li>
                      <a  class="d-flex align-items-center wid2" style="cursor:pointer;">
                        <span class="wrap-icon  mr-3">
                          <i class="bi bi-cart"></i>
                        </span>
                        <span class="menu-text">Store</span>
                      </a>
                    </li>
                    <li>
                      <a  class="d-flex align-items-center wid2" style="cursor:pointer;">
                        <span class="wrap-icon  mr-3">
                          <i class="bi bi-bar-chart-fill"></i>
                        </span>
                        <span class="menu-text" >Analytics</span>
                      </a>
                    </li>
                    <li>
                      <a  class="d-flex align-items-center wid2" style="cursor:pointer;">
                        <span class="wrap-icon  mr-3" style="pointer-events: none;">
                          <i class="bi bi-gear"></i>
                        </span>
                        <span class="menu-text">Settings</span>
                      </a>
                    </li>
                    <li class="active" routerLink="/login" >
                      <a href="#" class="d-flex align-items-center wid2">
                        <span class="wrap-icon  mr-3">
                          <i class="bi bi-gear"></i>
                        </span>
                        <span class="menu-text">Logout</span>
                      </a>
                    </li>
                  </ul>
                </div>
                <img class=" image-fluid w-75" src="assets/images/Basic-Income1 (2).gif">
              </div>
            </aside>
          </div>
        </aside>
      </div>
    </div>
<!--********************************************************************************************************************
***************************************************************************************************************************-->
  </div>
</div> -->

        <!--=========================================================================================================-->
       