ul li a{
  text-decoration: none;
}
  h2 {
    font-size: 20px; }
  
  
  .site-section {
    padding: 7rem 0; }
  
  aside, main {
    height: 100%;
    min-height: 580px; }
  
  aside {
   
    left: 0;
    top: 0;
    z-index: 1001;
    position: fixed;   
    transform: translateX(0px);
    background-color: #fff;
   
    transition: 0.7s width cubic-bezier(0.23, 1, 0.32, 1); }
    .show-sidebar aside {
      width: 230px;
      -webkit-transform: translateX(0%);
      -ms-transform: translateX(0%);
      transform: translateX(0%); }
    /* aside .toggle {
      padding-left: 30px;
      padding-top: 30px;
      position: absolute;
      right: 0;
      -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
      transform: translateX(100%); } */
      /* .show-sidebar aside .toggle .burger:before, .show-sidebar aside .toggle .burger span, .show-sidebar aside .toggle .burger:after {
        background: #fff; } */
    
    /* aside .side-inner {
      padding: 30px 0;
      height: 100vh;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      -ms-overflow-style: none; } */
      /* aside .side-inner::-webkit-scrollbar {
        display: none; } */
      /* aside .side-inner .logo-wrap {
        display: block;
        position: relative;
        width: 100%;
        float: left; } */
        aside .side-inner .logo-wrap .logo {
          width: 50px;
          float: left;
          height: 50px;
          background: #68a9ef;
          border-radius: 50%;
          position: relative;
          -webkit-transition: .3s margin ease;
          -o-transition: .3s margin ease;
          transition: .3s margin ease;
          margin: 0 auto 50px 10px; }
          /*  */
          aside .side-inner .logo-wrap .logo span {
            position: absolute;
            color: #fff;
            font-size: 1.5rem;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
        aside .side-inner .logo-wrap .logo-text {
          position: absolute;
          top: 10px;
          font-size: 20px;
          margin-left: 10px;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease;
          opacity: 0;
          visibility: hidden; }
          .show-sidebar aside .side-inner .logo-wrap .logo-text {
            opacity: 1;
            visibility: visible; }
      aside .side-inner .search-form {
        padding-left: 20px;
        padding-right: 20px;
        clear: both;
        margin-bottom: 30px; }
        aside .side-inner .search-form form {
          position: relative; } 
          aside .side-inner .search-form form .form-control {
            border-radius: 30px;
            border: 1px solid transparent;
            padding-left: 40px; } 
            aside .side-inner .search-form form .form-control:active, aside .side-inner .search-form form .form-control:focus {
              outline: none;
              -webkit-box-shadow: none;
              box-shadow: none; } 
           .show-sidebar aside .side-inner .search-form form .form-control {
              border: 1px solid #efefef; }
          aside .side-inner .search-form form .wrap-icon {
            font-size: 1.2rem;
            top: 50%;
            position: absolute;
            top: 8px;
            left: 2px;
            z-index: 2;
            -webkit-transition: .3s left ease;
            -o-transition: .3s left ease;
            transition: .3s left ease; }
            .show-sidebar aside .side-inner .search-form form .wrap-icon {
              left: 10px; }
      aside .side-inner .nav-menu {
        margin-bottom: 50px;
        clear: both; }
        aside .side-inner .nav-menu ul, aside .side-inner .nav-menu ul li {
          padding: 0;
          margin: 0px;
          list-style: none; }
        aside .side-inner .nav-menu ul li a {
          display: block;
          padding-left: 23px;
          padding-right: 30px;
          padding-top: 10px;
          padding-bottom: 10px;
          outline: none;
          color: #786c6c;
          position: relative;
          -webkit-transition: .3s all ease;
          -o-transition: .3s all ease;
          transition: .3s all ease; }
          aside .side-inner .nav-menu ul li a:active, aside .side-inner .nav-menu ul li a:focus, aside .side-inner .nav-menu ul li a:hover {
            outline: none; }

          aside .side-inner .nav-menu ul li a:hover {
            margin-left: 10px;
            border-top-left-radius: 25px ;
          border-bottom-left-radius: 25px;
            color: #000;
            background: #ffffff;
            position: relative;
          
          }
          aside a:hover::after  {
            content: "";
            position: absolute;
            background-color: transparent;
            bottom: 100%;
            right: 0;
            height: 55px;
            width: 35px;
            border-bottom-right-radius: 18px;
            box-shadow: 0 30px 0 0 rgb(255, 255, 255);
          
          }
          aside a:hover::before  {
            content: "";
            position: absolute;
            background-color: transparent;
            top: 49px;
            right: 0;
            height: 55px;
            width: 35px;
            border-top-right-radius: 18px;
            box-shadow: 0 -30px 0 0 rgb(255, 255, 255);
          
          }
          aside .side-inner .nav-menu ul li a .wrap-icon {
            font-size: 1.2rem; }
          aside .side-inner .nav-menu ul li a .menu-text {
            opacity: 0;
            visibility: hidden;
            -webkit-transition: .3s all ease;
            -o-transition: .3s all ease;
            transition: .3s all ease; }
            .show-sidebar aside .side-inner .nav-menu ul li a .menu-text {
              -webkit-transition: 0s all ease;
              -o-transition: 0s all ease;
              transition: 0s all ease;
              opacity: 1;
              visibility: visible; }
        aside .side-inner .nav-menu ul li.active a {
          color: #000; }
  
  main {
    width: calc(100%);
    -webkit-transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
    -o-transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1);
    transition: 1s transform cubic-bezier(0.23, 1, 0.32, 1), 1s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1); }
    .show-sidebar main {
      -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
      transform: translateX(0px); }
    main .post-entry {
      margin-bottom: 30px; }
    
 
#ul1
{
display: flex;
list-style: none;
margin-top: -20px;
margin-left: -35px;

}
#ul1 .liclass{
  font-size: 40px;
  color: #7f7f7f;
  font-weight: bold;
  margin: 0 2px;
  animation: neonTxt 2s ease-in-out infinite  ;
}
#ul1 .liclass:nth-child(2){ animation-delay: 1s;}
#ul1 .liclass:nth-child(3){ animation-delay: 2s;}
#ul1 .liclass:nth-child(4){ animation-delay: 3s;}
#ul1 .liclass:nth-child(5){ animation-delay: 4s;}
#ul1 .liclass:nth-child(6){ animation-delay: 5s;}

@keyframes neonTxt {
  0%, 5%{
    color: #9DE2F2;
    text-shadow: 0 0 8px #9a9a9a;
  }
  20%, 100%{
    color: #769393;
  }
  30%, 100%{
    text-shadow: none;
  }
  
}
/*==============================================================================================================
================================================================================================================
# Dashboard
--------------------------------------------------------------*/
/* Filter dropdown 
.dashboard .filter {
  position: absolute;
  right: 0px;
  top: 15px;
}

.dashboard .filter .icon {
  color: #aab7cf;
  padding-right: 20px;
  padding-bottom: 5px;
  transition: 0.3s;
  font-size: 16px;
}

.dashboard .filter .icon:hover,
.dashboard .filter .icon:focus {
  color: #4154f1;
}

.dashboard .filter .dropdown-header {
  padding: 8px 15px;
}

.dashboard .filter .dropdown-header h6 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #aab7cf;
  margin-bottom: 0;
  padding: 0;
}

.dashboard .filter .dropdown-item {
  padding: 8px 15px;
}
*/
/* Info Cards */

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  /* flex-shrink: 0; */
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #f6f6fe;
}

.dashboard .customers-card .card-icon {
  color: #fa6f12;
  background: #f6f6fe;
}
.dashboard .overall-card .card-icon {
  color: #fa12b8;
  background: #f6f6fe;
}




/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  
  /* padding: 20px 30px; */
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .wid1 {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromLeft;
    
   
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateY(200%);
    }
    100% {
      transform: translateY(0);
    }
  }
  
  .wid2 {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromRight;
    
   
  }
  @keyframes slideInFromBottom {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .wid3{  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromBottom;
    
   
  }

  .nav-menu ul li span {
    position: relative;  
  }

  .nav-menu ul li span::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #000000;
    width: 0%;
    content: "";
    height: 2px;
    transition: all 0.5s;
  }
  .nav-menu ul li span:hover::after {
    width: 100%;
    color: blue;
  }




  /*chart animation.......................*/
  @keyframes FadeIn { 
    0% {
      opacity: 0;
      transform: scale(.1);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .myclass .col-xxl-4 {
   
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
  }
  
  .myclass .col-xxl-4:nth-child(1) { animation-delay: 0.5s }
  .myclass .col-xxl-4:nth-child(2) { animation-delay: 1s }
  .myclass .col-xxl-4:nth-child(3) { animation-delay: 1.5s }
  