.gradient-custom {
    /* fallback for old browsers */
    background: #a8c0ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2b7f96, #a8c0ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3f2b96, #a8c0ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    }
    
    .card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    .card-registration .select-arrow {
    top: 13px;
    }


/* ++++++++++++++++++++++++++++++++++++++++++++++ */
/* .container{
    width: 600px;
   
    
    
}
.forgot{
    text-decoration: none;
    color: rgb(255, 0, 0);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}
.userlog{
    text-decoration: none;
    color: rgb(47, 0, 234);
    margin-left: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body {
    margin: auto;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(194, 108, 188) 3%, rgb(151, 193, 235) 38%, rgb(163, 228, 223) 68%, rgb(17, 76, 82) 98%);
    animation: gradient 10s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

.wave {
    background: rgb(255 255 255 / 25%);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 12em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

.card{
    background-image: linear-gradient(rgb(3, 177, 212),rgb(181, 111, 243));
 
}

.form-group{
    margin-top: 10px;
}

.btn{
   
    margin-top: 10px;

}
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: rgb(252, 32, 32);
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}



    
    
 

.sqr{
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 40px;
    border-radius: 35px; 
border: 5px solid white;
background: linear-gradient(45deg,#6ef3a1,#5fb9b2) border-box; 
border-width: 4px;
   
    border-image: linear-gradient(white) 1;
    height: 400px;
} 
label{
    color: rgb(0, 69, 51);
}
.sqr:hover{
    background: linear-gradient(45deg,#5fb9b2,#6ef3a1) border-box; 
    transform: scale(1.01);
}

.head{
    color: rgb(68, 147, 68);
    font-family: sans-serif;
} */


