
.card {
  transition: transform 0.2s ease;
  box-shadow: 0 5px 6px 0 rgba(39, 39, 174, 0.727);
  border-radius: 0;
  border: 0;
  margin-bottom: 1.5em;
  
}
.card:hover {
transform: scale(1.1);
}

.dashboard .info-card h6 {
  font-size: 28px;
  color: #012970;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.dashboard .card-icon {
  font-size: 32px;
  line-height: 0;
  width: 64px;
  height: 64px;
  /* flex-shrink: 0; */
  flex-grow: 0;
}

.dashboard .sales-card .card-icon {
  color: #4154f1;
  background: #f6f6fe;
}

.dashboard .revenue-card .card-icon {
  color: #2eca6a;
  background: #f6f6fe;
}

.dashboard .customers-card .card-icon {
  color: #fa6f12;
  background: #f6f6fe;
}
.dashboard .overall-card .card-icon {
  color: #fa12b8;
  background: #f6f6fe;
}




/*--------------------------------------------------------------
# Main
--------------------------------------------------------------*/
#main {
  
  /* padding: 20px 30px; */
  transition: all 0.3s;
}



  
  .wid1 {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromLeft;   
  }
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  
  .wid2 {  
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 2s ease-out 0s 1 slideInFromRight;    
    }
    @keyframes slideInFromRight {
      0% {
        transform: translateY(200%);
      }
      100% {
        transform: translateY(0);
      }
    }

  
  .wid3{  
    /* This section calls the slideInFromBottom animation we defined below */
    animation: 2s ease-out 0s 1 slideInFromBottom;  
  }
  
  @keyframes slideInFromBottom {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }




  /*chart animation.......................*/
  @keyframes FadeIn { 
    0% {
      opacity: 0;
      transform: scale(.1);
    }
  
    85% {
      opacity: 1;
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .myclass .col-xxl-4 {
   
    animation: FadeIn 1s linear;
    animation-fill-mode: both;
  }
  
  .myclass .col-xxl-4:nth-child(1) { animation-delay: 0.5s }
  .myclass .col-xxl-4:nth-child(2) { animation-delay: 1s }
  .myclass .col-xxl-4:nth-child(3) { animation-delay: 1.5s }
  


  

  /*card animation.......................*/
  @keyframes slideInFromLeft1 { 
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  .cardrow .cardcol {
   
    animation: 2s ease-out 0s 1 slideInFromLeft1;   
    animation-fill-mode: both;
  }
  
  .cardrow .cardcol:nth-child(1) { animation-delay: 0.5s }
  .cardrow .cardcol:nth-child(2) { animation-delay: 1s }
  .cardrow .cardcol:nth-child(3) { animation-delay: 1.5s }
  .cardrow .cardcol:nth-child(4) { animation-delay: 2s }