<!-- <p>side-nav works!</p> -->
<!-- <div class="nav-items">
    <div class="nav-item">
      <fa-icon [icon]="faDashboard"></fa-icon>
      <span>Dashboard</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faLocation"></fa-icon>
      <span>Locations</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faShop"></fa-icon>
      <span>Shops</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faBox"></fa-icon>
      <span>Products</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faMoneyBill"></fa-icon>
      <span>Sales</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faChartBar"></fa-icon>
      <span>Statistics</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faContactBook"></fa-icon>
      <span>Contact</span>
    </div>
    <div class="nav-item">
      <fa-icon [icon]="faHand"></fa-icon>
      <span>Help</span>
    </div>
  </div>
   -->

<!-- <div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                    <span class="fs-5 d-none d-sm-inline">Menu</span>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="#" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1 </a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2 </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-table"></i> <span class="ms-1 d-none d-sm-inline">Orders</span></a>
                    </li>
                    <li>
                        <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
                            <i class="fs-4 bi-bootstrap"></i> <span class="ms-1 d-none d-sm-inline">Bootstrap</span></a>
                        <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Item</span> 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Products</span> </a>
                            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 1</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 2</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 3</a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Product</span> 4</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-people"></i> <span class="ms-1 d-none d-sm-inline">Customers</span> </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                        <span class="d-none d-sm-inline mx-1">loser</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">New project...</a></li>
                        <li><a class="dropdown-item" href="#">Settings</a></li>
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#">Sign out</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col py-3">
            <h3>Left Sidebar with Submenus</h3>
            <p class="lead">
                An example 2-level sidebar with collasible menu items. The menu functions like an "accordion" where only a single 
                menu is be open at a time. While the sidebar itself is not toggle-able, it does responsively shrink in width on smaller screens.</p>
            <ul class="list-unstyled">
                <li><h5>Responsive</h5> shrinks in width, hides text labels and collapses to icons only on mobile</li>
            </ul>
        </div>
    </div>
</div> -->

<!-- <div id="wrapper" class="active">
      
  
    <div id="sidebar-wrapper">
    <ul id="sidebar_menu" class="sidebar-nav">
         <li class="sidebar-brand"><a id="menu-toggle" href="#">Menu<span id="main_icon" class="glyphicon glyphicon-align-justify"></span></a></li>
    </ul>
      <ul class="sidebar-nav" id="sidebar">     
        <li><a>Link1<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
        <li><a>link2<span class="sub_icon glyphicon glyphicon-link"></span></a></li>
      </ul>
    </div>
        

    
    
  </div> -->

<!-- <div class="container-fluid"  style="width: 100%;">
            <div class="row flex-nowrap">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-primary">
                    
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <h3 class="fs-5 d-none d-sm-inline text-white">MOD-C</h3>
                            
                        </a>
                      
                        <nav id="sidebar" class="active " >   
        
                            <div class="p-4 pt-5">
                            <h4 class="text-white h5"><b>DASHBOARD</b></h4>
                            <ul class="list-unstyled components mb-5">
                                <li class="active" >
                                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed text-white h6">User Management</a>
                                    <ul class="list-unstyled collapse" id="homeSubmenu" >
                                    
                                    <ul>
                                        <a class="nav-link px-0 d-none d-sm-inline text-white"> </a>
                                        <br>
                                        <a  class="nav-link px-0 d-none d-sm-inline text-white"> </a>
                                     
                                     </ul>
                                    
                                    </ul>
                                    </li>
                                
                            </ul>
                           
                           
                            </div>
                            <div>
                                <ul class="list-unstyled components ">
                                <li  >
                                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle collapsed text-white h6">Company Management</a>
                                    <ul class="list-unstyled collapse" id="homeSubmenu">
                                    
                                    <ul>
                                        <a  class="nav-link px-0 d-none d-sm-inline text-white"> </a>
                                        <br>
                                        <a class="nav-link px-0 d-none d-sm-inline text-white"></a>
                                     
                                     </ul>
                                    
                                    </ul>
                                    </li>                        
                        </ul>                  
                            </div>
                            </nav>
                        <hr>
                       
                    </div>
                </div>
               
            </div>
        </div> -->
<!-- template -->
<!--Main Navigation-->
<header>
  <!-- Sidebar -->
  <!-- <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-primary">
    <div class="position-sticky">
      
      <div class="list-group list-group-flush mx-3 mt-4">
        <a href="#" class="list-group-item list-group-item-action py-2 ripple" aria-current="true">
          <i class="fas fa-tachometer-alt fa-fw me-3"></i><span>Main dashboard</span>
        </a>
       
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-lock fa-fw me-3"></i><span>Password</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-chart-line fa-fw me-3"></i><span>Analytics</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple">
          <i class="fas fa-chart-pie fa-fw me-3"></i><span>SEO</span>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-chart-bar fa-fw me-3"></i><span>Orders</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-globe fa-fw me-3"></i><span>International</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-building fa-fw me-3"></i><span>Partners</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-calendar fa-fw me-3"></i><span>Calendar</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-users fa-fw me-3"></i><span>Users</span></a>
        <a href="#" class="list-group-item list-group-item-action py-2 ripple"><i
            class="fas fa-money-bill fa-fw me-3"></i><span>Sales</span></a>
        
      </div>
    </div>
  </nav> -->
  <!-- )))))))))))))))))))))))))))))))) -->
  <div class="sidebar">
    <a >Dashboard</a>

    <a class="" data-bs-toggle="collapse" data-bs-target="#dashboard-collapse"  >Company Management
        <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav  fw-normal pb-1 small">
                <li><a href="#" class="rounded">DASHBOARD</a></li>


                <li>
                  <a href="#" class="rounded"  routerLink="../adduser">ADD USER</a>
                
                </li>
                <li>
                  <a href="#" class="rounded"  routerLink="../active">TABLE LIST</a>
                
                </li>


            </ul>
       
        </div>
    </a>
</div>


<!-- Sidebar -->
<!-- Sidebar navigation -->
<!-- <nav id="sidebarMenu" class="d-flex flex-column justify-content-between bg-light">
  <ul class="nav nav-pills flex-column mb-auto">
   
    <li><a href="#" class="rounded">Dashboard</a></li>


                <li>
                  <a href="#" class="rounded"  routerLink="../adduser">Add User</a>
                
                </li>
  </ul>
  
 
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav> -->

  <!-- ))))))))))))))))))))))))))))))))) -->
  <!-- Sidebar -->

  <!-- Navbar -->
  <!-- <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-primary fixed-top">
      
      <div class="container-fluid">
       
        <button
          class="navbar-toggler"
          type="button"
          data-mdb-toggle="collapse"
          data-mdb-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
  
      
  
        <ul class="navbar-nav ms-auto d-flex flex-row">
         
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="fas fa-bell"></i>
              <span class="badge rounded-pill badge-notification bg-danger">1</span>
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">Some news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Another news</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Something else here</a>
              </li>
            </ul>
          </li>
  
     
          <li class="nav-item">
            <a class="nav-link me-3 me-lg-0" href="#">
              <i class="fas fa-fill-drip"></i>
            </a>
          </li>
      
          <li class="nav-item me-3 me-lg-0">
            <a class="nav-link" href="#">
              <i class="fab fa-github"></i>
            </a>
          </li>
  
    
          <li class="nav-item dropdown">
            <a
              class="nav-link me-3 me-lg-0 dropdown-toggle hidden-arrow"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <i class="flag-united-kingdom flag m-0"></i>
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <li>
                <a class="dropdown-item" href="#"
                  ><i class="flag-united-kingdom flag"></i>English
                  <i class="fa fa-check text-success ms-2"></i
                ></a>
              </li>
              <li><hr class="dropdown-divider" /></li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-poland flag"></i>Polski</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-china flag"></i>中文</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-japan flag"></i>日本語</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-germany flag"></i>Deutsch</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-france flag"></i>Français</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-spain flag"></i>Español</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-russia flag"></i>Русский</a>
              </li>
              <li>
                <a class="dropdown-item" href="#"><i class="flag-portugal flag"></i>Português</a>
              </li>
            </ul>
          </li>
  
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle hidden-arrow d-flex align-items-center"
              href="#"
              id="navbarDropdownMenuLink"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false"
            >
              <img
                src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img (31).webp"
                class="rounded-circle"
                height="22"
                alt="Avatar"
                loading="lazy"
              />
            </a>
            <ul
              class="dropdown-menu dropdown-menu-end"
              aria-labelledby="navbarDropdownMenuLink"
            >
              <li>
                <a class="dropdown-item" href="#">My profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Settings</a>
              </li>
              <li>
                <a class="dropdown-item" href="#">Logout</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
   
    </nav>
   -->

  <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background:#1B4F6C">

    <div class="container">

      <a class="navbar-brand me-2" href="">
        MOD-C-Management
      </a> &nbsp;

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>


      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">

        </ul>


        <div class="d-flex align-items-center">


          <div class="dropdown" style="margin-left:60%;">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
              <!-- {{userName}} -->
              <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25"
                alt="Black and White Portrait of a Man" loading="lazy" />
            </button>
            <ul class="dropdown-menu">

              <li> <a routerLink="/login" class="dropdown-item"><i
                    class="fa fa-sign-out">&nbsp;&nbsp;&nbsp;&nbsp;Logout</i></a></li>

            </ul>
          </div>


        </div>
      </div>

    </div>

  </nav>

</header>



<main style="margin-top: 58px;">
  <div class="container pt-4"></div>
</main>