<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="">
        MOD-C-Management
      </a> &nbsp;
  <h4><b>DASHBOARD</b></h4>
      <!-- Toggle button -->
      <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
  
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
  <!-- change password button -->
          <!-- <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal">
            change Password
          </button> -->
  
          <div class="dropdown" style="margin-left:60%;">
            <button type="button" class="btn  dropdown-toggle" data-bs-toggle="dropdown">
                <img src="assets/images/icon1.png" style="width: 45px;height:40px;border-radius: 50px; ">
            </button>
            <ul class="dropdown-menu">
               <li><a routerLink="../profile" class="dropdown-item" ><i class="fa fa-user1">&nbsp;&nbsp;&nbsp;&nbsp;Profile</i></a></li>
              <!-- <li> <a  routerLink="/public/login" class="dropdown-item" (click)="logout()"><i class="fa fa-sign-out">&nbsp;&nbsp;&nbsp;&nbsp;Logout</i></a></li>  -->
              
            </ul>
          </div>

          
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->
  
  
